* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background1: #6892a1;
    --margin1: 0.5rem;
}

/*tag*/
nav {
    height: 50px;
    background-color: var(--background1);
    margin: var(--margin1);
}

/*class*/
.hero {
    background: url("assets/meme1.jpg") no-repeat;
    background-size: cover;
    height: 500px;
}
/*ID*/
#hero-1 {
    background: url("assets/meme2.jpg") no-repeat;
    background-size: cover;
}