* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background1: #6892a1;
    --margin1: 0.5rem;
}

/*tag*/
nav {
    height: 50px;
    background-color: var(--background1);
    margin-bottom: var(--margin1);
    top: 1rem;
    position: sticky;
}

/*class*/
.hero {
    background: url("assets/meme1.jpg") no-repeat;
    background-size: cover;
    height: 500px;
}
/*ID*/
#hero-1 {
    background: url("assets/meme2.jpg") no-repeat;
    background-size: cover;
}
h1 {
    margin-top: 100px;
    color: #e600ff;
}
body{
    /*overflow-y: hidden;*/
}
ul, ol {
    background-color: aqua;
    margin-left: 2rem;
    li {
        color: blueviolet;
        font-size: 1.5rem;
    }
}