{
    margin: 0
;
    padding: 0
;
    box-sizing: border-box
;
}
:root {
    --font-color-dark: #201c1c;
    --font-color-light: #e3df95;
    --background-dark: #036997;
    --background-light: #4a4dea;
}

header {
    display: flex;
    grid-template-columns: 1fr 5fr;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(3, 105, 151, 0.7);
    height: 5em;
}

.logo {
    height: 90%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        transform: rotate(0deg);
        box-shadow: 0 0 10px 10px var(--background-dark);
        animation: spin 2s linear infinite;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--font-color-light);
        padding: 1em;
        font-size: 1.2em;
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        background-color: var(--background-light);
        color: var(--font-color-dark);
    }
}

body {
    background: url("../assets/birds.jpeg") no-repeat center center fixed;
}
.hero {
    height: 55vh;
    margin: 12rem 3em;
    background: url("../assets/pool_palms.jpeg") no-repeat center;
}
#search{
    background-color: var(--font-color-light);
    border-radius: 40px;
    border: none;
    padding: 0.2rem;
}
#search-input{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}
.material-symbols-outlined {
    /*background-color: var(--background-light);*/
    color: var(--font-color-light);
    border-radius: 40px;
}